# Make vim the default editor
export EDITOR="vim"

# Make Sublime Text 2 the default editor (if it's available)
if [ -e /usr/local/bin/subl ]; then
  export EDITOR="subl"
fi

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
export HISTFILE="$HOME/.bash_history"

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Show color output for grep
export GREP_COLORS='ms=01;34:mc=01;34:sl=:cx=:fn=35:ln=32:bn=32:se=36'
export GREP_OPTIONS='--color=auto'

# Common directories
export PROJECTS_DIR="$HOME/Projects"
export DROPBOX_DIR="$HOME/Dropbox"